@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@using Dyoub.App.Helpers;

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="PaymentMethodListController as controller" data-ng-init="controller.init()">
    <div class="page-header" data-translate="Payment methods"></div>

    <div class="box">
        <a href="/dashboard/commercial" class="as-button">
            <i class="fa fa-arrow-left"></i>
        </a>

        @using (Html.Authorize("payment-methods.edit"))
        {
            <a href="/payment-methods/new" class="as-button success" data-translate="Add"></a>
        }
    </div>

    <form name="paymentMethodsFilter" data-ng-submit="controller.newSearch()">
        <label>
            <i class="fa fa-search"></i>
            <span data-translate="Search filter"></span>
        </label>
        <div class="card">
            <div class="box">
                <label data-translate="Name"></label>
                <input type="text" data-ng-model="controller.filter.name" data-ng-maxlength="80" />
            </div>
        </div>

        <div class="box text-center">
            <button type="submit" class="primary" data-ng-disabled="controller.searching">
                <span data-ng-hide="controller.searching" data-translate="Search"></span>
                <em data-ng-show="controller.searching" data-translate="Searching"></em>
            </button>
            <button type="button" data-translate="Clear filter" data-ng-click="controller.clearFilter()"></button>
        </div>
    </form>

    <div class="card list">
        <div class="list-item" data-ng-repeat="paymentMethod in controller.paymentMethodList">
            <p>
                <a class="font-14" href="/payment-methods/details/{{paymentMethod.id}}" data-ng-bind="paymentMethod.name"></a>
            </p>
            <p data-ng-bind="paymentMethod.additionalInformation"></p>
            <p class="text-muted font-11" data-ng-show="paymentMethod.code">
                <i class="fa fa-barcode"></i>
                <span data-ng-bind="paymentMethod.code"></span>
            </p>
            <p data-ng-hide="paymentMethod.active">
                <span class="hint danger" data-translate="Inactive"></span>
            </p>
        </div>
    </div>

    <div class="card text-center text-primary" data-translate="No records found"
         data-ng-show="controller.paymentMethodList.isEmpty()"></div>

    <div class="box text-center" data-ng-hide="controller.paymentMethodList.isEmpty()"
         data-ng-disabled="controller.searching">
        <button type="button" class="primary" data-ng-click="controller.search()">
            <span data-ng-hide="controller.searching" data-translate="More results"></span>
            <em data-ng-show="controller.searching" data-translate="Searching"></em>
        </button>
    </div>
</div>
