@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <div class="error danger">
        <i class="fa fa-ban"></i>
        <p data-translate="403"></p>
        <a href="/dashboard" class="as-button" data-translate="Go back to dashboard"></a>
    </div>
</div>
