@{
    Layout = "~/Views/Index.cshtml";
}

<div class="container">
    <div class="error danger">
        <i class="fa fa-exclamation-circle"></i>
        <p data-translate="500"></p>
        <a href="/" class="as-button" data-translate="GoToDashboard"></a>
    </div>
</div>