<!DOCTYPE html>
<html data-ng-app="dyoub.theme">
<head>
    <title>dyoub</title>
    <link rel="icon" href="https://dyoub.s3.amazonaws.com/cdn/img/dyoub.ico" />
    <meta charset="utf-8" />
    <link rel="icon" href="https://dyoub.s3.amazonaws.com/cdn/img/dyoub.ico" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="https://dyoub.s3.amazonaws.com/cdn/css/dyoub-theme-1.0.0.min.css" />
    <style type="text/css">
        html, body {
            height: 100%;
        }

        .header {
            height: 100%;
        }
    </style>
</head>
<body class="portfolio">
    <div class="navbar fixed text-center">
        <img class="dyoub" alt="dyoub" />
    </div>
    <div class="header">
        <div class="slogan">
            Desenvolvento seu negócio.
            <span class="highlight">Simples.</span>
        </div>
        <img class="devices" alt="All devices" />
    </div>
    <div class="signup">
        <p>
            Você poderá criar uma conta em breve!
        </p>
        <p>
            Voltar para <a href="/">dyoub.com</a>.
        </p>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="https://dyoub.s3.amazonaws.com/cdn/js/dyoub-theme-1.0.0.min.js"></script>
</body>
</html>
