@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

<div class="modal" data-modal-open="controller.undoChangesDialogOpened">
    <div class="modal-content">
        <div class="box" data-translate="Are you sure you want undo the changes?"></div>
        <button type="button" class="success" data-translate="Yes" data-ng-click="controller.undoChanges()"></button>
        <button type="button" data-translate="No" data-ng-click="controller.hideUndoChangesDialog()"></button>
    </div>
</div>
