@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="ProductStockListController as controller" data-ng-init="controller.init()">
    <div class="page-header" data-translate="Product stock"></div>

    <div class="box">
        <a href="/dashboard/inventory" class="as-button">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>

    <form name="productStockListFilter" data-ng-submit="controller.newSearch()">
        <label>
            <i class="fa fa-search"></i>
            <span data-translate="Search filter"></span>
        </label>
        <div class="card">
            <div class="box">
                <label data-translate="Store"></label>
                <input type="text" data-ng-model="controller.filter.storeName" data-ng-maxlength="80" />
            </div>
        </div>

        <div class="box text-center">
            <button type="submit" class="primary" data-ng-disabled="controller.searching">
                <span data-ng-hide="controller.searching" data-translate="Search"></span>
                <em data-ng-show="controller.searching" data-translate="Searching"></em>
            </button>
            <button type="button" data-translate="Clear filter" data-ng-click="controller.clearFilter()"></button>
        </div>
    </form>

    <div class="card list">
        <div class="list-item" data-ng-repeat="store in controller.productStockList">
            <p class="text-muted font-10" data-translate="Product stock"></p>
            <p>
                <a class="font-14" href="/product-stock/details/{{store.id}}" data-ng-bind="store.name"></a>
            </p>
            <p data-ng-hide="store.active">
                <span class="hint danger" data-translate="Inactive"></span>
            </p>
        </div>
    </div>

    <div class="card text-center text-primary" data-translate="No records found"
         data-ng-show="controller.productStockList.isEmpty()"></div>

    <div class="box text-center" data-ng-hide="controller.productStockList.isEmpty()"
         data-ng-disabled="controller.searching">
        <button type="button" class="primary" data-ng-click="controller.search()">
            <span data-ng-hide="controller.searching" data-translate="More results"></span>
            <em data-ng-show="controller.searching" data-translate="Searching"></em>
        </button>
    </div>
</div>
