@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@using Dyoub.App.Helpers;

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="FixedExpenseDetailsController as controller" data-ng-init="controller.init()">
    <div class="page-header" data-translate="Fixed expense details"></div>

    <div class="loading box" data-ng-show="controller.searching"></div>

    <div class="ng-cloak" data-ng-show="controller.searchComplete()">
        <div class="error" data-ng-show="controller.notFound">
            <i class="fa fa-exclamation-triangle"></i>
            <p data-translate="Fixed expense not found"></p>
            <a href="/fixed-expenses" class="as-button" data-translate="Go back"></a>
        </div>

        <div data-ng-hide="controller.notFound">
            <div class="box">
                <a href="/fixed-expenses" class="as-button">
                    <i class="fa fa-arrow-left"></i>
                </a>

                @using (Html.Authorize("fixed-expenses.edit"))
                {
                    <a href="/fixed-expenses/edit/{{controller.fixedExpense.id}}" class="as-button" data-translate="Edit"></a>
                    <button type="button" class="danger" data-translate="Remove" data-ng-click="controller.showRemoveDialog()"></button>
                }
            </div>

            <div class="card">
                <div class="box">
                    <label data-translate="Description"></label>
                    <strong data-ng-bind="controller.fixedExpense.description"></strong>
                </div>

                <div class="grid-row">
                    <div class="grid-column medium-6 large-6">
                        <div class="grid-row">
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Store"></label>
                                    <strong data-ng-bind="controller.fixedExpense.store.name"></strong>
                                </div>
                            </div>
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Value"></label>
                                    <strong data-ng-bind="controller.fixedExpense.value | currency"></strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-column medium-6 large-6">
                        <div class="grid-row">
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Start date"></label>
                                    <strong data-ng-bind="controller.fixedExpense.startDate | moment:'shortDate'"></strong>
                                </div>
                            </div>
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="End date"></label>
                                    <strong data-ng-bind="controller.fixedExpense.endDate | moment:'shortDate'"></strong>
                                    <strong data-ng-hide="controller.fixedExpense.endDate">-</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @using (Html.Authorize("fixed-expenses.edit"))
    {
        @Html.Partial("~/Views/Financial/FixedExpenses/_RemoveFixedExpense.cshtml")
    }
</div>
