@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="ProductEditController as controller" data-ng-init="controller.init()">
    <div class="page-header">
        <span data-translate="{{controller.pageHeader}}"></span>
    </div>

    <div class="loading box" data-ng-show="controller.searching"></div>

    <div class="ng-cloak" data-ng-show="controller.searchComplete()">
        <div class="error" data-ng-show="controller.notFound">
            <i class="fa fa-exclamation-triangle"></i>
            <p data-translate="ProductNotFound"></p>
            <a href="/products" class="as-button" data-translate="GoBack"></a>
        </div>

        <form name="controller.productForm" data-ng-submit="controller.save()" data-ng-hide="controller.notFound">
            <div class="box">
                <button type="submit" class="success" data-ng-disabled="controller.saveBlocked()">
                    <span data-ng-hide="controller.saving" data-translate="Save"></span>
                    <span data-ng-show="controller.saving" data-translate="Saving"></span>
                </button>
                <button type="button" data-ng-click="controller.goBack()" data-translate="Cancel"></button>
            </div>

            <div class="card">
                <div class="grid-row">
                    <div class="grid-column small-6 medium-6 large-6">
                        <div class="box" data-has-error="controller.productForm.name.$invalid">
                            <label>
                                <span data-translate="Name"></span>
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" name="name" data-ng-model="controller.product.name" data-ng-maxlength="80" required />
                        </div>
                    </div>
                    <div class="grid-column small-6 medium-6 large-6">
                        <div class="box" data-has-error="controller.productForm.code.$invalid">
                            <label data-translate="Code"></label>
                            <input type="text" name="code" data-ng-model="controller.product.code" data-ng-maxlength="50" />
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="grid-column small-6 medium-6 large-6">
                        <div class="grid-row">
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Marketed"></label>
                                    <button type="button" data-ng-click="controller.product.marketed = !controller.product.marketed"
                                            data-ng-class="{ 'success': controller.product.marketed, 'danger': !controller.product.marketed }"
                                            data-translate="{{controller.product.marketed}}"></button>
                                </div>
                            </div>
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Can fraction"></label>
                                    <button type="button" data-ng-click="controller.product.canFraction = !controller.product.canFraction"
                                            data-ng-class="{ 'success': controller.product.canFraction, 'danger': !controller.product.canFraction }"
                                            data-translate="{{controller.product.canFraction}}"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-column small-6 medium-6 large-6">
                        <div class="grid-row">
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Is manufactured"></label>
                                    <button type="button" data-ng-click="controller.product.isManufactured = !controller.product.isManufactured"
                                            data-ng-class="{ 'success': controller.product.isManufactured, 'danger': !controller.product.isManufactured }"
                                            data-translate="{{controller.product.isManufactured}}"></button>
                                </div>
                            </div>
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Stock movement"></label>
                                    <button type="button" data-ng-click="controller.product.stockMovement = !controller.product.stockMovement"
                                            data-ng-class="{ 'success': controller.product.stockMovement, 'danger': !controller.product.stockMovement }"
                                            data-translate="{{controller.product.stockMovement}}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box" data-has-error="controller.productForm.additionalInformation.$invalid">
                    <label data-translate="Additional information"></label>
                    <textarea rows="5" name="additionalInformation" data-ng-model="controller.product.additionalInformation" data-ng-maxlength="255"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
