@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="RentContractEditController as controller" data-ng-init="controller.init()">
    <div class="step-header">
        <div class="page-header">
            <span data-translate="{{controller.pageHeader}}"></span>
            <strong data-ng-bind="controller.routeParams.rentContractId | orderNumber"></strong>
        </div>
        <div class="ng-cloak" data-ng-hide="controller.searching || controller.notFound">
            <span class="step active" data-translate="General"></span>
            <span class="separator"></span>
            <a href="/rent-contracts/edit/{{controller.routeParams.rentContractId}}/partners"
               class="step" data-translate="Partners"></a>
            <span class="separator"></span>
            <a href="/rent-contracts/edit/{{controller.routeParams.rentContractId}}/customer"
               class="step" data-translate="Customer"></a>
            <span class="separator"></span>
            <a href="/rent-contracts/edit/{{controller.routeParams.rentContractId}}/products"
               class="step" data-translate="Products"></a>
            <span class="separator"></span>
            <a href="/rent-contracts/edit/{{controller.routeParams.rentContractId}}/payments"
               class="step" data-translate="Payments"></a>
            <span class="separator"></span>
            <a href="/rent-contracts/edit/{{controller.routeParams.rentContractId}}/return"
               class="step" data-translate="Return"></a>
        </div>
    </div>

    <div class="loading box" data-ng-show="controller.searching"></div>

    <div class="ng-cloak" data-ng-show="controller.searchComplete()">
        <div class="error" data-ng-show="controller.notFound">
            <i class="fa fa-exclamation-triangle"></i>
            <p data-translate="Rent contract not found."></p>
            <a href="/rent-contracts" class="as-button" data-translate="Go back"></a>
        </div>

        <div class="error" data-ng-show="controller.rentContract.confirmed">
            <i class="fa fa-exclamation-triangle"></i>
            <p data-translate="Rent contract already confirmed."></p>
            <a href="/rent-contracts/details/{{controller.routeParams.rentContractId}}" class="as-button primary"
               data-translate="Go to sale order details"></a>
        </div>

        <div data-ng-hide="controller.rentContract.confirmed">
            <form name="controller.rentContractForm" data-ng-submit="controller.save()" data-ng-hide="controller.notFound">
                <div class="box">
                    <button type="submit" class="success" data-ng-disabled="controller.saveBlocked()">
                        <span data-ng-hide="controller.saving" data-translate="Save"></span>
                        <span data-ng-show="controller.saving" data-translate="Saving"></span>
                    </button>
                    <button type="button" data-ng-click="controller.goBack()" data-translate="Cancel"
                            data-ng-disabled="controller.saving"></button>
                </div>

                <div class="card">
                    <div class="grid-row">
                        <div class="grid-column small-6 medium-6 large-6">
                            <div class="box" data-has-error="controller.rentContractForm.store.$invalid">
                                <label>
                                    <span data-translate="Store"></span>
                                    <span class="text-danger">*</span>
                                    <em class="font-10 text-muted" data-translate="Loading" data-ng-show="controller.searchingStores"></em>
                                </label>
                                <select name="store" data-ng-model="controller.rentContract.store" required
                                        data-ng-options="store as store.name for store in controller.storeList track by store.id"
                                        data-ng-disabled="controller.searchingStores"></select>
                            </div>
                        </div>
                        <div class="grid-column small-6 medium-6 large-6">
                            <div class="box">
                                <label>
                                    <span data-translate="Wallet"></span>
                                    <em class="font-10 text-muted" data-translate="Loading"
                                        data-ng-show="controller.searchingWallets"></em>
                                </label>
                                <select name="wallet" data-ng-model="controller.rentContract.wallet"
                                        data-ng-options="wallet as wallet.name for wallet in controller.walletList track by wallet.id"
                                        data-ng-disabled="controller.searchingWallets">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="grid-column compact-6 small-6 medium-6 large-6">
                            <div class="grid-row">
                                <div class="grid-column small-6 medium-6 large-6">
                                    <div class="box" data-has-error="controller.rentContractForm.startDate.$invalid">
                                        <label>
                                            <span data-translate="Start date"></span>
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" name="startDate" data-ng-model="controller.rentContract.startDate"
                                               data-type-date data-valid-date-same-or-before="controller.rentContract.endDate" required />
                                    </div>
                                </div>
                                <div class="grid-column small-6 medium-6 large-6">
                                    <div class="box" data-has-error="controller.rentContractForm.startTime.$invalid">
                                        <label>
                                            <span data-translate="Start time"></span>
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" name="startTime" data-ng-model="controller.rentContract.startTime"
                                               data-type-time required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-column compact-6 small-6 medium-6 large-6">
                            <div class="grid-row">
                                <div class="grid-column small-6 medium-6 large-6">
                                    <div class="box" data-has-error="controller.rentContractForm.endDate.$invalid">
                                        <label>
                                            <span data-translate="End date"></span>
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" name="endDate" data-ng-model="controller.rentContract.endDate"
                                               data-type-date data-valid-date-same-or-after="controller.rentContract.startDate" required />
                                    </div>
                                </div>
                                <div class="grid-column small-6 medium-6 large-6">
                                    <div class="box" data-has-error="controller.rentContractForm.endTime.$invalid">
                                        <label>
                                            <span data-translate="End time"></span>
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" name="endTime" data-ng-model="controller.rentContract.endTime"
                                               data-type-time required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box" data-has-error="controller.rentContractForm.location.$invalid">
                        <label data-translate="Location"></label>
                        <input type="text" name="location" data-ng-model="controller.rentContract.location" />
                    </div>

                    <div class="box" data-has-error="controller.rentContractForm.additionalInformation.$invalid">
                        <label data-translate="Additional information"></label>
                        <textarea rows="5" name="additionalInformation" data-ng-model="controller.rentContract.additionalInformation"
                                  data-ng-maxlength="255"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
