@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

<div class="modal" data-modal-open="!!controller.itemToRemove">
    <div class="modal-content">
        <div class="box" data-translate="Are you sure you want to delete?"></div>
        <button type="button" class="danger" data-translate="Yes" data-ng-click="controller.removeItem()"></button>
        <button type="button" data-translate="No" data-ng-click="controller.hideRemoveDialog()"></button>
    </div>
</div>
