@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@using Dyoub.App.Helpers;

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="StoreListController as controller"  data-ng-init="controller.init()">
    <div class="page-header" data-translate="Stores"></div>

    @using (Html.Authorize("stores.edit"))
    {
        <div class="box">
            <a href="/dashboard/management" class="as-button">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a href="/stores/new" class="as-button success" data-translate="Add"></a>
        </div>
    }

    <form name="storesFilter" data-ng-submit="controller.newSearch()">
        <label>
            <i class="fa fa-search"></i>
            <span data-translate="Search filter"></span>
        </label>
        <div class="card">
            <div class="box">
                <label data-translate="Name"></label>
                <input type="text" data-ng-model="controller.filter.name" data-ng-maxlength="80" />
            </div>
        </div>

        <div class="box text-center">
            <button type="submit" class="primary" data-ng-disabled="controller.searching">
                <span data-ng-hide="controller.searching" data-translate="Search"></span>
                <em data-ng-show="controller.searching" data-translate="Searching"></em>
            </button>
            <button type="button" data-translate="Clear filter" data-ng-click="controller.clearFilter()"></button>
        </div>
    </form>

    <div class="card list">
        <div class="list-item" data-ng-repeat="store in controller.storeList">
            <p>
                <a class="font-14" href="/stores/details/{{store.id}}" data-ng-bind="store.name"></a>
            </p>
            <p>
                <span class="hint danger" data-ng-hide="store.active" data-translate="Inactive"></span>
            </p>
        </div>
    </div>

    <div class="card text-center text-primary" data-translate="No records found"
         data-ng-show="controller.storeList.isEmpty()"></div>

    <div class="box text-center" data-ng-hide="controller.storeList.isEmpty()"
         data-ng-disabled="controller.searching">
        <button type="button" class="primary" data-ng-click="controller.search()">
            <span data-ng-hide="controller.searching" data-translate="More results"></span>
            <em data-ng-show="controller.searching" data-translate="Searching"></em>
        </button>
    </div>
</div>
