<?xml version="1.0"?>
<!--
  Copyright (c) Dyoub Applications. All rights reserved.
  Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
  -->
<appSettings>
  <add key="Database:Provider" value="MySql.Data.MySqlClient"/>
  <add key="Database:ConnectionString" value="Database=app; Data Source=localhost; UserId=root; Password=123456; Allow User Variables=True"/>
  <add key="Logger" value="Local"/>
  <add key="Logger:Sentry:DSN" value="SENTRY_DSN"/>
  <add key="Mailer" value="Local"/>
</appSettings>
