@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="CommercialOverviewController as controller" data-ng-init="controller.init()">
    <div class="menu-header" data-translate="Commercial"></div>

    <div class="grid-row">
        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <a href="/customers" class="as-button card emerald">
                <div class="card-info">
                    <div data-translate="Records"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.customers"></div>
                    <i class="fa fa-user"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Customers"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <a href="/payment-methods" class="as-button card emerald">
                <div class="card-info">
                    <div data-translate="Records"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.paymentMethods"></div>
                    <i class="fa fa-credit-card-alt"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Payment methods"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <button type="button" href="/sale-orders" class="as-button card emerald" disabled>
                <div class="card-info">
                    <div data-translate="Today"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.saleOrders"></div>
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Sale orders"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </button>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <button type="button" href="/rentals" class="as-button card emerald" disabled>
                <div class="card-info">
                    <div data-translate="Today"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.rentals"></div>
                    <i class="fa fa-share-square-o"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Rentals"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </button>
        </div>
    </div>
</div>
