@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="FinancialOverviewController as controller" data-ng-init="controller.init()">
    <div class="menu-header" data-translate="Financial"></div>

    <div class="grid-row">
        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <button type="button" href="/cash-flow/daily" class="as-button card success" disabled>
                <div class="card-info">
                    <div data-translate="Today"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.cashFlow | currency"></div>
                    <i class="fa fa-bar-chart"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Cash flow"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </button>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <a href="/fixed-expenses" class="as-button card success">
                <div class="card-info">
                    <div data-translate="This month"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.fixedExpenses | currency"></div>
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Fixed expenses"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <button type="button" href="cash-transactions" class="as-button card success" disabled>
                <div class="card-info">
                    <div data-translate="This month"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.otherCashActivities"></div>
                    <i class="fa fa-calculator"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Other cash activities"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </button>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <button data-href="receivables-anticipation" class="as-button card success" disabled>
                <div class="card-info">
                    <div data-translate="This month"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.receivablesAnticipation"></div>
                    <i class="fa fa-history"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Receivables anticipation"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </button>
        </div>
    </div>
</div>
