@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <div class="menu-header">Dashboard</div>

    <div class="grid-row">
        <div class="grid-column medium-6 large-4">
            <a href="/dashboard/account" class="as-button card concrete">
                <div class="card-info">
                    <div data-translate="Profile"></div> 
                    <div data-translate="Renewals"></div> 
                    <div data-translate="Technical support"></div> 
                    <i class="fa fa-user-circle-o"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Account"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column medium-6 large-4">
            <a href="/dashboard/management" class="as-button card amethyst">
                <div class="card-info">
                    <div data-translate="Stores"></div>
                    <div data-translate="Collaborators"></div>
                    <div data-translate="Teams"></div>
                    <i class="fa fa-users"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Management"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column medium-6 large-4">
            <a href="/dashboard/catalog" class="as-button card primary">
                <div class="card-info">
                    <div data-translate="Products"></div>
                    <div data-translate="Services"></div>
                    <div data-translate="Pricing tables"></div>
                    <i class="fa fa-barcode"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Catalog"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column medium-6 large-4">
            <a href="/dashboard/commercial" class="as-button card success">
                <div class="card-info">
                    <div data-translate="Customers"></div>
                    <div data-translate="Payment methods"></div>
                    <div data-translate="Sale orders"></div>
                    <div data-translate="Rentals"></div>
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Commercial"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column medium-6 large-4">
            <a href="/dashboard/financial" class="as-button card emerald">
                <div class="card-info">
                    <div data-translate="Cash flow"></div>
                    <div data-translate="Fixed expenses"></div>
                    <div data-translate="Other cash activities"></div>
                    <div data-translate="Receivables anticipation"></div>
                    <i class="fa fa-pie-chart"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Financial"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column medium-6 large-4">
            <a href="/dashboard/stock" class="as-button card carrot">
                <div class="card-info">
                    <div data-translate="Suppliers"></div>
                    <div data-translate="Products stock"></div>
                    <div data-translate="Purchase orders"></div>
                    <div data-translate="Transfer orders"></div>
                    <div data-translate="Other movements"></div>
                    <i class="fa fa-truck"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Stock"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>
    </div>
</div>
