@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="InventoryOverviewController as controller" data-ng-init="controller.init()">
    <div class="menu-header" data-translate="Stock"></div>

    <div class="grid-row">
        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <a href="/suppliers" class="as-button card carrot">
                <div class="card-info">
                    <div data-translate="Records"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.suppliers"></div>
                    <i class="fa fa-truck"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Suppliers"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <a href="/purchase-orders" class="as-button card carrot">
                <div class="card-info">
                    <div data-translate="This month"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.purchaseOrders"></div>
                    <i class="fa fa-file-text-o"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Purchase orders"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <button type="button" data-href="/transfer-orders" class="card carrot" disabled>
                <div class="card-info">
                    <div data-translate="This month"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.transfers | currency"></div>
                    <i class="fa fa-retweet"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Stock transfer orders"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </button>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <button type="button" data-href="/other-product-movements" class="card carrot" disabled>
                <div class="card-info">
                    <div data-translate="This month"></div>
                    <div class="value" data-ng-bind="controller.overview.counter.otherProductMovements | currency"></div>
                    <i class="fa fa-repeat"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Other movements"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </button>
        </div>

        <div class="grid-column compact-6 small-4 medium-4 large-3">
            <a href="/product-stock" class="as-button card carrot">
                <div class="card-info">
                    <i class="fa fa-clipboard"></i>
                </div>
                <div class="card-title">
                    <span data-translate="Product stock"></span>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>
    </div>
</div>
