@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="ProfilePasswordController as controller" data-ng-init="controller.init()">
    <div class="page-header" data-translate="Change password"></div>

    <form name="controller.profileForm" data-ng-submit="controller.save()">
        <div class="box">
            <button type="submit" class="success" data-ng-disabled="controller.saveBlocked()">
                <span data-ng-hide="controller.saving" data-translate="Save"></span>
                <span data-ng-show="controller.saving" data-translate="Saving"></span>
            </button>
            <a href="/profile" class="as-button" data-translate="Cancel"></a>
        </div>

        <div class="card">
            <div class="box">
                <label data-translate="Old password"></label>
                <input type="password" name="oldPassword" data-ng-model="controller.user.oldPassword" data-ng-maxlength="20" required />
            </div>

            <div class="box">
                <label data-translate="New password"></label>
                <input type="password" name="newPassword" data-ng-model="controller.user.newPassword" data-ng-maxlength="20" required />
            </div>
        </div>
    </form>
</div>

