@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="ProfileEditController as controller" data-ng-init="controller.init()">
    <div class="page-header" data-translate="Profile"></div>

    <div class="loading box" data-ng-show="controller.searching"></div>

    <div class="ng-cloak" data-ng-show="controller.searchComplete()">
        <form name="controller.profileForm" data-ng-submit="controller.save()">
            <div class="box">
                <button type="submit" class="success" data-ng-disabled="controller.saveBlocked()">
                    <span data-ng-hide="controller.saving" data-translate="Save"></span>
                    <span data-ng-show="controller.saving" data-translate="Saving"></span>
                </button>
                <a href="/profile" class="as-button" data-translate="Cancel"></a>
            </div>

            <div class="card">
                <div class="box">
                    <label data-translate="Name"></label>
                    <input type="text" name="name" data-ng-model="controller.user.name" data-ng-maxlength="80" required />
                </div>
            </div>
        </form>
    </div>
</div>

