@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@using Dyoub.App.Helpers;

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="PurchasedProductsDetailsController as controller" data-ng-init="controller.init()">
    <div class="step-header">
        <div class="page-header">
            <span data-translate="Purchase order"></span>
            <strong data-ng-bind="controller.purchaseOrder.id | orderNumber"></strong>
        </div>
        <div data-ng-show="controller.routeParams.purchaseOrderId">
            <a href="/purchase-orders/details/{{controller.routeParams.purchaseOrderId}}"
               class="step" data-translate="General"></a>
            <span class="separator"></span>
            <a href="/purchase-orders/details/{{controller.routeParams.purchaseOrderId}}/supplier"
               class="step" data-translate="Supplier"></a>
            <span class="separator"></span>
            <span class="step active" data-translate="Products"></span>
            <span class="separator"></span>
            <a href="/purchase-orders/details/{{controller.routeParams.purchaseOrderId}}/payments"
               class="step" data-translate="Payments"></a>
        </div>
    </div>

    <div class="loading box" data-ng-show="controller.searching"></div>

    <div class="ng-cloak" data-ng-show="controller.searchComplete()">
        @using (Html.Authorize("purchase-orders.edit"))
        {
            <div class="box">
                <a href="/purchase-orders/edit/{{controller.purchaseOrder.id}}/products" class="as-button" data-translate="Edit"
                   data-ng-hide="controller.purchaseOrder.confirmed"></a>
            </div>
        }

        <div class="box">
            <span class="hint success" data-translate="Sale billed" data-ng-show="controller.purchaseOrder.confirmed"></span>
        </div>

        <div class="card list">
            <div class="list-item text-primary text-center" data-translate="At least one product must be added."
                 data-ng-show="controller.purchaseOrder.productList.isEmpty()"></div>

            <div class="list-item" data-ng-repeat="product in controller.purchaseOrder.productList">
                <div class="box">
                    <p data-ng-bind="product.name"></p>
                    <span class="font-11 text-muted">
                        <i class="fa fa-barcode"></i>
                        <span data-ng-bind="product.code"></span>
                        <span data-ng-hide="product.code" data-translate="No code"></span>
                    </span>
                </div>

                <div class="grid-row">
                    <div class="grid-column small-6 medium-6 large-6">
                        <div class="grid-row">
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <label data-translate="Unit cost"></label>
                                <strong data-ng-bind="product.unitCost | currency"></strong>
                            </div>
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <label data-translate="Amount"></label>
                                <strong data-ng-bind="product.quantity | number:3"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="grid-column small-6 medium-6 large-6">
                        <div class="grid-row">
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <label data-translate="Discount"></label>
                                <strong data-ng-show="product.discount">
                                    <span data-ng-bind="product.discount | number:2"></span>%
                                </strong>
                                <strong data-ng-hide="product.discount">-</strong>
                            </div>
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <label data-translate="Total cost"></label>
                                <strong data-ng-bind="product.totalCost | currency"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
