@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <div class="text-center">
        <img alt="dyoub" src="https://dyoub.s3.amazonaws.com/cdn/img/dyoub-silver.png" />
    </div>

    <div class="error">
        <i class="fa fa-exclamation-triangle"></i>
        <p data-translate="Recovery token expired."></p>
        <a href="/signin" class="as-button" data-translate="Go back to signin"></a>
    </div>

    <form name="controller.signupForm" class="sign" data-ng-submit="controller.signup()">
        <div class="box" data-has-error="controller.signupForm.password.$invalid">
            <label data-translate="New password"></label>
            <input type="password" name="password" data-ng-model="controller.user.password" placeholder="Password"
                   data-ng-minlength="8" data-ng-maxlength="20" required />
        </div>
        <div class="box">
            <button type="submit" class="success block large" data-ng-disabled="controller.working" data-translate="Reset"></button>
        </div>
    </form>
</div>
