@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="NewPasswordRecoveryController as controller">
    <div class="text-center">
        <img alt="dyoub" src="https://dyoub.s3.amazonaws.com/cdn/img/dyoub-silver.png" />
    </div>

    <form name="controller.resetPasswordForm" class="sign" data-ng-submit="controller.sendEmail()">
        <div class="box">
            <label data-translate="We will send you a confirmation"></label>
            <input type="text" name="email" data-ng-model="controller.email" placeholder="Email"
                   data-ng-disabled="controller.sent" data-ng-maxlength="80" data-type-email required />
        </div>

        <div class="box">
            <button type="submit" class="success block large" data-ng-disabled="controller.sending || controller.sent">
                <span data-ng-show="!controller.sending && !controller.sent" data-translate="Send"></span>
                <span data-ng-show="controller.sending && !controller.sent" data-translate="Sending"></span>
                <span data-ng-show="controller.sent" data-translate="Sent"></span>
            </button>
        </div>

        <div class="text-center">
            <a href="/signin" data-translate="Go back to signin"></a>
        </div>
    </form>
</div>
