@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@using Dyoub.App.Helpers;

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="ServiceDetailsController as controller" data-ng-init="controller.init()">
    <div class="page-header" data-translate="Service details"></div>

    <div class="loading box" data-ng-show="controller.searching"></div>

    <div class="ng-cloak" data-ng-show="controller.searchComplete()">
        <div class="error" data-ng-show="controller.notFound">
            <i class="fa fa-exclamation-triangle"></i>
            <p data-translate="Service not found."></p>
            <a href="/services" class="as-button" data-translate="Go back"></a>
        </div>

        <div data-ng-hide="controller.notFound">
            <div class="box">
                <a href="/services" class="as-button">
                    <i class="fa fa-arrow-left"></i>
                </a>

                @using (Html.Authorize("services.edit"))
                {
                    <a href="/services/edit/{{controller.service.id}}" class="as-button" data-translate="Edit"></a>
                    <button type="button" class="danger" data-translate="Remove" data-ng-click="controller.showRemoveDialog()"></button>
                }

            </div>

            <div class="card">
                <div class="grid-row">
                    <div class="grid-column medium-6 large-6">
                        <div class="box">
                            <label data-translate="Name"></label>
                            <strong data-ng-bind="controller.service.name"></strong>
                        </div>
                    </div>
                    <div class="grid-column medium-6 large-6">
                        <div class="box">
                            <label data-translate="Code"></label>
                            <strong data-ng-bind="controller.service.code"></strong>
                            <strong data-ng-hide="controller.service.code">-</strong>
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="grid-column medium-6 large-6">
                        <div class="grid-row">
                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Marketed"></label>
                                    <strong data-ng-bind="controller.service.marketed | translate"></strong>
                                </div>
                            </div>

                            <div class="grid-column compact-6 small-6 medium-6 large-6">
                                <div class="box">
                                    <label data-translate="Can fraction"></label>
                                    <strong data-ng-bind="controller.service.canFraction | translate"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <label data-translate="Additional information"></label>
                    <strong data-ng-bind-html="controller.service.additionalInformation | escapeHtml"></strong>
                    <strong data-ng-hide="controller.service.additionalInformation">-</strong>
                </div>
            </div>
        </div>
    </div>

    @using (Html.Authorize("services.edit"))
    {
        @Html.Partial("~/Views/Catalog/Services/_RemoveService.cshtml")
    }
</div>
