@*
    Copyright (c) Dyoub Applications. All rights reserved.
    Licensed under MIT (https://github.com/dyoub/app/blob/master/LICENSE).
*@

@using Dyoub.App.Helpers;

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container" data-ng-controller="ServiceListController as controller" data-ng-init="controller.init()">
    <div class="page-header" data-translate="Services"></div>

    <div class="box">
        <a href="/dashboard/catalog" class="as-button">
            <i class="fa fa-arrow-left"></i>
        </a>

        @using (Html.Authorize("services.edit"))
        {
            <a href="/services/new" class="as-button success" data-translate="Add"></a>
        }
    </div>

    <form name="servicesFilter" data-ng-submit="controller.newSearch()">
        <label>
            <i class="fa fa-search"></i>
            <span data-translate="Search filter"></span>
        </label>
        <div class="card">
            <div class="box">
                <label data-translate="Service name or code"></label>
                <input type="text" data-ng-model="controller.filter.nameOrCode" data-ng-maxlength="80" />
            </div>
        </div>

        <div class="box text-center">
            <button type="submit" class="primary" data-ng-disabled="controller.searching">
                <span data-ng-hide="controller.searching" data-translate="Search"></span>
                <em data-ng-show="controller.searching" data-translate="Searching"></em>
            </button>
            <button type="button" data-translate="Clear filter" data-ng-click="controller.clearFilter()"></button>
        </div>
    </form>

    <div class="card list">
        <div class="list-item" data-ng-repeat="service in controller.serviceList">
            <p>
                <a class="font-14" href="/services/details/{{service.id}}" data-ng-bind="service.name"></a>
                <span class="text-muted font-11" data-ng-show="service.code">
                    <i class="fa fa-barcode"></i>
                    <span data-ng-bind="service.code"></span>
                </span>
            </p>
            <p data-ng-bind="service.additionalInformation"></p>
            <p data-ng-hide="service.marketed">
                <span class="hint danger" data-translate="Not marketed"></span>
            </p>
        </div>
    </div>

    <div class="card text-center text-primary" data-translate="No records found"
         data-ng-show="controller.serviceList.isEmpty()"></div>

    <div class="box text-center" data-ng-hide="controller.serviceList.isEmpty()"
         data-ng-disabled="controller.searching">
        <button type="button" class="primary" data-ng-click="controller.search()">
            <span data-ng-hide="controller.searching" data-translate="More results"></span>
            <em data-ng-show="controller.searching" data-translate="Searching"></em>
        </button>
    </div>
</div>
